.hero-container {
  position: relative;
}

.hero-text {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  text-shadow: 2px 2px 1px black;
}

@media (max-width: 45em) {
  .hero-text {
    left: 35%;
    font-size: 0.7rem;
  }
}
