.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: stretch;
}

.content-container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 2rem 4rem;
  /* flex: 1 0 auto; */
  flex-grow: 1;

  align-self: stretch;
}

.heading {
  color: gold;
  margin-bottom: 1rem;
}

@media (max-width: 45em) {
  .content-container {
    padding: 2rem 1rem 0 1rem;
  }
}
