.post-container {
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(256, 256, 256, 0.15);
  gap: 1rem;
  row-gap: 0.5rem;
  overflow: hidden;
  transform: translateZ(0);

  transition: all 0.5s;
}

.hide-container {
  opacity: 0.7;
  transform: translateY(1rem);
}

.post-container:hover {
  box-shadow: 0.1rem 0.1rem 1.7rem rgba(256, 256, 256, 0.5);
}

.content-container {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.content-container a:link,
.content-container a:visited {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #eee;

  transition: all 0.3s ease-out;
}

.content-container a:hover,
.content-container a:active {
  color: #339af0;
}

.post-image {
  max-height: min(60vh, 20rem) !important;
  flex-basis: 20rem;
  flex-grow: 1;
}

.post-text {
  padding: 1rem 1.2rem;

  flex-basis: 50%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  gap: 1rem;
  justify-content: center;
  color: rgb(222, 222, 222);
}

.post-text h2 {
  color: #fff;
}

.page-pagination {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
  grid-gap: 2rem;
}

.align-center {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.align-right {
  justify-content: flex-end;
}
