.tag-container {
  margin-bottom: 2rem;
  padding: 0.8rem 1.2rem;
  color: #eee;
  background: linear-gradient(to bottom, #555, #333);
  border-radius: 10px;
  transform: translateX(0);
}

.tag-container a:link,
.tag-container a:visited {
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: all 0.3s ease-out;
}
.tag-container a:hover,
.tag-container a:active {
  color: #339af0;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-space-small {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.tag-links {
  padding-left: 1.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.tag-link h4 {
  font-size: 1.4rem;
}

@media (max-width: 45em) {
  .tag-links {
    grid-template-columns: 1fr;
  }

  .tag-link h4 {
    font-size: 1rem;
  }
}
